body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Neue Haas Grotesk Display Pro, sans-serif;
}

.container {
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 80px;
}

.container .navbar {
  display: flex;
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  justify-content: space-between;
}
.container .navbar .navbar__flex {
  display: flex;
}
.container .navbar .navbar__flex .navbar__h1 {
  font-weight: bold;
  font-size: 30px;
}
.container .navbar .navbar__flex .navbar__h1 .navbar-h1__FU {
  font-weight: 300;
}
.container .navbar .navbar__flex .navbar__line {
  width: 2px;
  height: 30px;
  background-color: #000000;
  margin-top: 26px;
  margin-left: 30px;
}
.container .navbar .navbar__flex .navbar__p {
  width: 150px;
  margin-left: 50px;
  margin-top: 24px;
}
.container .navbar .navbar__row {
  display: flex;
  gap: 20px;
}
.container .navbar .navbar__row img {
  width: 27px;
  height: 27px;
  margin-top: 10px;
}

.nav {
  display: flex;
  justify-content: space-between;
}
.nav .nav__btn {
  cursor: pointer;
  padding-left: 20px;
  padding-top: 7px;
  width: 120px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid grey;
  background-color: #fff;
  vertical-align: middle;
  margin-left: 30px;
}
.nav .nav__btn img {
  display: block;
  margin-top: -20px;
}

.navBar {
  display: flex;
  justify-content: space-between;
}
.navBar .navbar__menu {
  display: flex;
  gap: 40px;
}
.navBar .navbar__menu .navbar-menu__cn {
  color: grey;
}
.navBar .navbar__menu .navbar-menu__en {
  border-bottom: 1px solid black;
}
.navBar .navbar__menu img {
  cursor: pointer;
}

.hero {
  display: grid;
  justify-content: space-between;
  grid-template-columns: auto auto auto;
}
.hero .hero__page p {
  margin-top: 300px;
}
.hero .hero__page .hero__imgREL {
  margin-left: -40px;
}
.hero .hero__page .hero__imgREL img {
  margin-left: 50px;
  cursor: pointer;
  margin-top: 360px;
}
.hero .hero__title {
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.hero .hero__title h1 {
  font-weight: 100;
  font-size: 100px;
  letter-spacing: 10px;
  color: rgba(0, 0, 0, 0.2);
}
.hero .hero__title .hero__img .hero-img__lemon {
  filter: grayscale(1);
  position: relative;
  z-index: 2;
}
.hero .hero__title .hero__img .hero-img__lemonBG {
  position: absolute;
  left: 630px;
  top: 470px;
  filter: grayscale(1);
}
.hero .hero__right .hero-right__search {
  cursor: pointer;
}
.hero .hero__right .hero-right__scrool {
  margin-left: -30px;
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: center;
  gap: 300px;
  margin-top: 100px;
}
.header .header__left .header-left__title .header-left-title__redI {
  color: red;
}
.header .header__left .header-left__title h2 {
  font-size: 40px;
  font-family: Forma DJR Deck, sans-serif;
  font-weight: lighter;
}
.header .header__left .header-left__bg {
  filter: brightness(0.4);
}
.header .header__left .header-left__rel {
  position: absolute;
  left: 910px;
  top: 240px;
}
.header .header__left .header-left__btn {
  width: 208px;
  height: 50px;
  background: #000;
  border-radius: 20px;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}
.header .header__left .header-left__btn img {
  margin-top: -20px;
  position: relative;
  top: 10px;
  left: 10px;
}

.footerScrooldown {
  color: #000;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid black;
  padding: 30px 0;
}
.footerScrooldown .footerScrooldown__arrow {
  margin-left: 15px;
}

.nav .siteMain h1 {
  font-size: 60px;
}
.nav .siteMain h2 {
  font-size: 90px;
  opacity: 50%;
  font-weight: 100;
}
.nav .siteMain__Info {
  margin-top: 200px;
}
.nav .siteMain__Info input {
  width: 275px;
  height: 59px;
  font-size: 30px;
  text-align: center;
  border: none;
  border-bottom: 1px solid #ea4335;
  outline: none;
}
.nav .siteMain__Info button {
  width: 102px;
  height: 59px;
  border-radius: 15px;
  background: #ff7064;
  border: none;
  cursor: pointer;
  color: #fff;
  font-size: 25px;
}

.missPage {
  display: flex;
  align-items: center;
}
.missPage .missPage__bg {
  background-image: url(../../img/Dont_Miss_it/Vector.png);
  width: 50%;
  height: 790px;
  background-size: cover;
}
.missPage .missPage__title {
  margin-left: 100px;
}
.missPage .missPage__title h1 {
  font-size: 60px;
}
.missPage .missPage__title p {
  width: 380px;
}
.missPage .missPage__title input {
  width: 374px;
  height: 40px;
  border-radius: 10px;
  border-color: #333333;
  text-align: center;
  font-size: 20px;
}
.missPage .missPage__title .missPage__btn button {
  width: 142px;
  height: 40px;
  border-radius: 10px;
  margin-left: 120px;
  margin-top: 20px;
  cursor: pointer;
  border: none;
  background-color: #333333;
  color: #fff;
}

.webZeroFive {
  display: flex;
}
.webZeroFive .webZeroFive__Beach {
  background: url("../../img/Thanks_John/Rectangle-1.png") no-repeat;
  background-size: contain;
  width: 30%;
  height: 100vh;
}
.webZeroFive .webZeroFive__ThanksJohn {
  padding-top: 100px;
  font-family: Open Sans, sans-serif;
  font-weight: 700;
  font-size: 26px;
}
.webZeroFive .webZeroFive__ThanksJohn .webZeroFive-ThanksJohn__title {
  font-size: 60px;
  padding-top: 100px;
}
.webZeroFive .webZeroFive__ThanksJohn .webZeroFive-ThanksJohn__title span {
  font-weight: lighter;
}
.webZeroFive .webZeroFive__ThanksJohn .webZeroFive-ThanksJohn__p {
  color: grey;
  font-size: 24px;
  font-weight: lighter;
}
.webZeroFive .webZeroFive__ThanksJohn .webZeroFive-ThanksJohn__gridL {
  display: flex;
  justify-content: space-between;
  font-weight: lighter;
  width: 400px;
}
.webZeroFive .webZeroFive__ThanksJohn .webZeroFive-ThanksJohn__gridL span {
  color: #009E06;
}
.webZeroFive .webZeroFive__ThanksJohn .footer-ques {
  color: gray;
  font-size: 12px;
  padding-top: 60px;
}/*# sourceMappingURL=main.css.map */