.menu {
    display: flex;
    justify-content: end;
    p{
        font-size: 30px;
        font-family: Helvetica;
    }
}
.Scroll{
    display: flex;
    justify-content: space-between;
    align-items: end;
    p{
        font-size: 30px;
        margin-left: 100px;
    }
}
.kris {
    font-size: 160px;
    margin-left: 100px;
}