.body-19 {
    background: url(../../img/we-craft/img.png) no-repeat;
    background-size: cover;
    .main19 {
        width: 100%;
        height: 100vh;
        background: url(../../img/we-craft/vector\ shape.png) no-repeat;
        background-size: cover;
    }
}
