.soBody {
  background-color: #262626;
  padding-left: 80px;
  padding-top: 80px;
  font-family: serif;
  color: white;
  .divEZ {
    width: 333px;
    height: 498px;
    background: url(../../img/ZELA/Rectangle\ 244.png) no-repeat;
    background-size: contain;
    .soBig {
      font-size: 300px;
      position: absolute;
    }
    .E {
      left: 410px;
      top: -290px;
    }
    .Z {
        margin-left: -50px;
    }
    .flyBeard {
        position: absolute;
        left: 800px;
        top: 350px;
    }
    .L {
        position: absolute;
        left: 1690px;
    }
  }
  .info-Martin {
    margin-top: 120px;
    font-family: sans-serif;
  }
}
.Radius-click {
    border-radius: 50%;
    border: 1px solid white;
    width: 100px;
    height: 100px;
    margin-left: 1400px;
    p {
        font-size: 14px;
        text-align: center;
        margin-top: 34px;
    }
}
.bottom-soBig {
    display: flex;
    img {

    }
    p {
        font-size: 300px;
        margin: 0;
        position: absolute;
        left: 700px;
        top: 700px;
    }
}