.page-15 {
    font-family: Forma DJR Deck,sans-serif;
    overflow: hidden;
    font-weight: bold;
}
.container-15{
    padding: 100px 0 0 100px;
    // padding: {
        // top: 100px;
        // left: 100px
    // };
}
.section-15{
    .section-15__title{
        height: 150px;
    }
    .bottom-dse{
        position: absolute;
        bottom: -370px;
        // margin: 0 auto;
        left: 0;
        font-size: 580px;
        font-weight: bold;
        letter-spacing: 38px;
    }
}