doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        // * Title
        title Mobile and  Web Ui Kit

        // * Style
        link(rel="stylesheet", href="../scss/main.css")
    body 
        section.container
            nav.navbar 
                div.navbar__flex
                    h1.navbar__h1 FU 
                        span.navbar-h1__FU FU
                    div.navbar__line
                    p.navbar__p Something about lemon
                div.navbar__row
                    img(src="../img/nav/Group.png", alt="")
                    p how to eat
        section.container.hero 
            div.hero__page 
                p 1/12
                div.hero__imgREL 
                    img(src="../img/hero/Vector.png", alt="")
                    img(src="../img/hero/Vector (1).png", alt="")
            div.hero__title 
                h1 LEMON
                div.hero__img 
                    img.hero-img__lemon(src="../img/hero/cw1MAVs4wV8.png", alt="Lemon Image")
                    img.hero-img__lemonBG(src="../img/hero/Rectangle 9.png", alt="Lemon BG Image")
            div.hero__right     
                img.hero-scrool(src="../img/hero/Group 7.png", alt="")
                img.hero-right__search(src="../img/hero/clarity_search-line.png", alt="")