<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title-->
    <title>2013</title>
    <!-- Fonts-->
    <link rel="stylesheet" href="../../fonts/fonts.css">
    <!-- Style-->
    <link rel="stylesheet" href="../../scss/main.css">
  </head>
  <body class="body-katy"> 
    <!-- Header-->
    <header>
      <div class="katy-head">
        <div>
          <h2>KATY BIKOVICHE</h2>
          <h4>Portfolio of a product designer @theshithole</h4>
        </div>
        <div>
          <ul> 
            <li>WORKS</li>
            <li>ARCHIVE </li>
            <li>INFO & CONTACT</li>
          </ul>
        </div>
      </div>
    </header>
    <!-- Main-->
    <main class="katy-main">
      <div class="years-card"> 
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
      <div class="bottom-katy">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. A pretium elit nisi ac scelerisque. Mattis interdum tellus nulla pharetra sit eget. Sollicitudin ultrices dolor, ultrices mi ut. Hendrerit odio nec vel etiam. Vitae, fusce sit id aliquet blandit risus condimentum. Urna pellentesque quis ut mattis pretium aliquam arcu congue. </p><img src="../../img/2013/Vector.png" alt="arrow image">
      </div>
    </main>
    <!-- Footer-->
    <footer>
      <div class="footer-katy"> 
        <div> 
          <p>K.B></p>
        </div>
        <div> 
          <ul> 
            <li>Whatsapp</li>
            <li>Twitter</li>
            <li>Instagram</li>
            <li>Behance</li>
          </ul>
        </div>
      </div>
    </footer>
  </body>
</html>