<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta Tag's-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title-->
    <title>Aire</title>
    <!-- Style-->
    <link rel="stylesheet" href="../../scss/main.css">
    <!-- Font-->
    <link rel="stylesheet" href="../../fonts/fonts.css">
  </head>
  <body> 
    <section> 
      <div class="float-aire">
        <!-- AIRE Image-->
        <div class="aire-image"> </div>
        <!-- Hero-->
        <div class="aire-navigation">
          <ul> 
            <li>SHOP </li>
            <li>ABOUT </li>
            <li>INNOVATION </li>
            <li>LOGIN </li>
            <li>CART</li>
          </ul>
          <div class="aire-title"> 
            <h1>ANTI <span>DESIGN</span></h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Libero in mauris est condimentum suscipit. Viverra tincidunt amet aliquet massa rhoncus egestas eget id turpis. Augue nunc. </p>
          </div>
          <div class="aire-bottom AllIn">
            <div> 
              <p class="aire-bottom_first">This website uses cookies. <span>Learn more.</span></p>
            </div>
            <div>
              <p class="aire-bottom_second">ACCEPT</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>