<!DOCTYPE html>
<html lang="uz">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../scss/main.css">
  </head>
  <body>
    <header class="header18">
      <nav class="nav18">
        <div class="container18">
          <div class="left18"><a class="works18" href="#works">Works</a></div>
          <div class="right18"><a class="info-contact18" href="#info-contact">Info & Contact</a></div>
        </div>
      </nav>
    </header>
    <main class="main18">
      <div class="container18"></div>
      <!-- Asosiy kontentingiz bu yerda bo'ladi-->
      <h1 class="main-text18">
         ART OF <br>SHITHOLE</h1>
    </main>
    <footer class="footer18">
      <div class="container18"></div>
      <div class="left18"><a class="kb18" href="#kb">K.B></a></div>
      <div class="right18"><a class="who-we-are18" href="#who">Who we are</a></div>
    </footer>
  </body>
</html>