<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- * Title-->
    <title>UMbrella</title>
    <!-- * Style-->
    <link rel="stylesheet" href="../../scss/main.css">
    <!-- * Forma DJR Deck Font-->
    <link rel="stylesheet" href="../../fonts/fonts.css">
  </head>
  <body> 
    <!-- * ===================== Navbar =====================-->
    <nav class="container"> 
      <div class="nav"> <a href="./atten.html"> <img src="../../img/UMbrella/nav/Group 3.png" alt=""></a><a href="#"> 
          <button class="nav__btn">Menu<img src="../../img/UMbrella/nav/jam_menu.png" alt=""></button></a></div>
    </nav>
    <header class="container">
      <div class="header"> 
        <div class="header__left">
          <div class="header-left__title">
            <h2>Great products don’t try to do 
              <div>everything. </div>
            </h2>
            <h2>We are <span class="header-left-title__redI">minimalists, </span><span>and we do</span>
              <div>a few things, very well.</div>
            </h2>
          </div>
          <button class="header-left__btn">Tech Support<img src="../../img/UMbrella/hero/clarity_settings-line.png" alt=""></button>
        </div>
        <div class="header__left"><img class="header-left__bg" src="../../img/UMbrella/hero/Rectangle 1.png" alt=""><img class="header-left__rel" src="../../img/UMbrella/hero/Group 4.svg" alt=""></div>
      </div>
    </header><a class="footerScrooldown" href="#">Scrool down <img class="footerScrooldown__arrow" src="../../img/UMbrella/hero/bi_chevron-down.png" alt=""></a>
  </body>
</html>