<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../scss/main.css">
  </head>
  <body class="atwork-bg"> 
    <div class="web-11__nav"> 
      <p>Home</p>
      <p>Artwork</p>
    </div>
    <div class="web-11__img"> <img src="../../img/Atwork/Rectangle 234.png" alt=""><img src="../../img/Atwork/Rectangle 235.png" alt=""><img src="../../img/Atwork/Rectangle 236.png" alt=""><img src="../../img/Atwork/Rectangle 237.png" alt=""><img src="../../img/Atwork/Rectangle 238.png" alt=""></div>
    <div class="web-11__img-item"><img src="../../img/Atwork/line/Line 104.png" alt=""><img src="../../img/Atwork/line/Line 103.png" alt="">
      <p>10%</p>
    </div>
  </body>
</html>