<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- * Title-->
    <title>CONFIUSED</title>
    <!-- * Style-->
    <link rel="stylesheet" href="../../scss/main.css">
  </head>
  <body> 
    <nav class="container">
      <div class="navBar"> 
        <div class="navBar__logo"> <img src="../../img/CONFUSED/Group 1.png" alt="site logo"></div>
        <div class="navbar__menu"> 
          <p class="navbar-menu__cn">CN </p>
          <p class="navbar-menu__en">EN</p><img src="../../img/CONFUSED/gg_menu-left.png" alt="navbar icon">
        </div>
      </div>
    </nav>
    <section class="container nav"> 
      <div class="siteMain"> 
        <h1>One nightowl is coding really hard</h1>
        <h2>COMING SOON</h2>
        <div class="siteMain__Info">
          <input type="text" placeholder="Get Notified">
          <button>Send</button>
        </div>
      </div>
      <div class="siteImg"> <img src="../../img/CONFUSED/hero/Group 2.png" alt="Site Image"></div>
    </section>
  </body>
</html>