<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- * Meta Tag's-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- * Title-->
    <title>Don’t miss it</title>
    <!-- * Style-->
    <link rel="stylesheet" href="../../scss/main.css">
  </head>
  <body> 
    <main>
      <div class="missPage">
        <div class="missPage__bg"> </div>
        <div class="missPage__title"> 
          <h1>Don't miss it</h1>
          <p>We will email you one delicious recipe everyday for you to try at home. They are simple and delicious: we encourage you to try! </p>
          <input type="text" placeholder="Your email here">
          <div class="missPage__btn"> 
            <button>Subscribe</button>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>