<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../scss/main.css">
  </head>
  <body class="explore-bg">
    <header>
      <div class="web-11__nav"> 
        <p>Home</p>
        <p>Artwork</p>
      </div>
      <div class="web-12__img"> <img src="../../img/explore/Rectangle 234.png" alt=""><img src="../../img/explore/Rectangle 235.png" alt=""><img src="../../img/explore/Rectangle 236.png" alt=""><img src="../../img/explore/Rectangle 237.png" alt=""><img src="../../img/explore/Rectangle 238.png" alt=""></div>
      <div class="web-12">
        <p>Convoluted colorfulness</p>
        <p class="web-12-item">Lined up behind the space bartender is the meaning of it all, the vessels marked with letters, numbers, signs...</p>
        <p class="web-12-item-1">explore</p>
      </div>
      <div class="web11-item"><img src="../../img/explore/line/Line 104.png" alt=""><img src="../../img/explore/line/Line 103.png" alt="">
        <p>10%</p>
      </div>
    </header>
  </body>
</html>