<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- * Title-->
    <title>Mobile and  Web Ui Kit</title>
    <!-- * Style-->
    <link rel="stylesheet" href="../../scss/main.css">
  </head>
  <body> 
    <section class="container">
      <nav class="navbar"> 
        <div class="navbar__flex">
          <h1 class="navbar__h1">FU <span class="navbar-h1__FU">FU</span></h1>
          <div class="navbar__line"></div>
          <p class="navbar__p">Something about lemon</p>
        </div>
        <div class="navbar__row"><img src="../../img/nav/Group.png" alt="">
          <p>how to eat</p>
        </div>
      </nav>
    </section>
    <section class="container hero"> 
      <div class="hero__page"> 
        <p>1/12</p>
        <div class="hero__imgREL"> <img src="../../img/hero/Vector.png" alt=""><img src="../../img/hero/Vector (1).png" alt=""></div>
      </div>
      <div class="hero__title"> 
        <h1>LEMON</h1>
        <div class="hero__img"> <img class="hero-img__lemon" src="../../img/hero/cw1MAVs4wV8.png" alt="Lemon Image"><img class="hero-img__lemonBG" src="../../img/hero/Rectangle 9.png" alt="Lemon BG Image"></div>
      </div>
      <div class="hero__right">    <img class="hero-scrool" src="../../img/hero/Group 7.png" alt=""><img class="hero-right__search" src="../../img/hero/clarity_search-line.png" alt=""></div>
    </section>
  </body>
</html>