<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Font-->
    <link rel="stylesheet" href="../fonts/fonts.css">
    <!-- Style-->
    <link rel="stylesheet" href="../../scss/main.css">
  </head>
  <body class="page-15">
    <main>
      <section class="section-15">
        <div class="container-15">
          <div class="section-15__title">
            <h1>KATY BIKOVICHE</h1>
            <p>Product designer, director <span>@ theshithole</span></p>
          </div>
          <div class="info-rad">
            <p>Currently based in Singapore</p>
            <h4>1° 17' 22 N, 103° 51' 0 E</h4>
          </div>
          <div class="bottom-dse">D S E</div>
        </div>
      </section>
    </main>
  </body>
</html>