<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../scss/main.css">
  </head>
  <body> 
    <header> 
      <div class="menu"> 
        <p>Menu</p>
      </div>
      <div>
        <h1 class="kris">
           KRISTEN <br>WELLS</h1>
      </div>
      <div class="Scroll">
        <p>Scroll</p><img src="../../img/KRISTEN WELLS/superwoman 1.png" alt="">
      </div>
    </header>
  </body>
</html>