<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title-->
    <title>Modle A</title>
    <!-- Fonts-->
    <link rel="stylesheet" href="../../fonts/fonts.css">
    <!-- Style-->
    <link rel="stylesheet" href="../../scss/main.css">
  </head>
  <body class="body-module"> 
    <nav class="nav-module"> <img src="../../img/MODEL-A/CAR LOGO.png" alt="">
      <div> 
        <ul> 
          <li>MODLE A </li>
          <li>MODLE B</li>
          <li>MODLE C</li>
          <li>MODLE D</li>
          <li>MODLE E</li>
        </ul>
      </div>
      <div> <img src="../../img/MODEL-A/menu.png" alt=""></div>
    </nav>
    <header class="header_modle"> 
      <h1>MODLE A </h1>
      <div> 
        <button class="module-btn">Discover</button>
        <button class="sec-module-btn">Reserve now</button>
      </div>
    </header>
  </body>
</html>