<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- * Title-->
    <title>SAM</title>
    <!-- * Style-->
    <link rel="stylesheet" href="../../scss/main.css">
    <!-- *-->
    <link rel="stylesheet" href="../../fonts/fonts.css">
  </head>
  <body> 
    <!-- ================== Navbar ==================-->
    <nav class="samNav">
      <div class="samNav__sb"> 
        <div class="samNav-sb__Table"> 
          <ul>
            <li>visit</li>
            <li>exhibition</li>
            <li>collection</li>
            <li>programs</li>
          </ul>
        </div>
        <div class="samNav-sb__Inp"> <img src="../../img/SAM/nav/Group.png" alt="">
          <input type="text" placeholder="search something...">
        </div>
      </div>
    </nav>
    <!-- ================== Header ==================-->
    <div class="samNav"> 
      <div class="samHero"><img class="samLogo" src="../../img/SAM/hero/logo.png" alt="">
        <h1 class="samHero__title">ART IN ITS BEST FORM...</h1>
      </div>
      <div class="samNav__second"> <img class="top__img" src="../../img/SAM/hero/Mask Group.png" alt=""><img class="bottom__img" src="../../img/SAM/hero/Mask Group2.png" alt=""></div>
    </div>
  </body>
</html>