<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- * Title-->
    <title>SAM</title>
    <!-- * Style-->
    <link rel="stylesheet" href="../../scss/main.css">
  </head>
  <body> 
    <nav class="samNav">
      <div class="samNav__sb"> 
        <div class="samNav-sb__Table"> 
          <ul>
            <li>visit</li>
            <li>exhibition</li>
            <li>collection</li>
            <li>programs</li>
          </ul>
        </div>
        <div class="samNav-sb__Inp"> <img src="../../img/SAM/nav/Group.png" alt="">
          <input type="text" placeholder="search something...">
        </div>
      </div>
    </nav>
  </body>
</html>