<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- * Title-->
    <title>Thanks, John!</title>
    <!-- * Stylesheets-->
    <link rel="stylesheet" href="../../scss/main.css">
  </head>
  <body> 
    <header class="webZeroFive">
      <div class="webZeroFive__Beach"> </div>
      <div class="webZeroFive__ThanksJohn"> 
        <h3 class="webZeroFive-ThanksJohn__t">Trinity 43rd Avenue LLC</h3>
        <h1 class="webZeroFive-ThanksJohn__title">Thanks, <span>John!</span></h1>
        <p class="webZeroFive-ThanksJohn__p">Here is your receipt for your rent payment for the month of July. Below are the details. </p>
        <div class="webZeroFive">
          <div>    
            <p>Date</p>
            <p>June 30, 2020</p>
          </div>
          <div> 
            <p>Total Payment</p>
            <p>$1200 USD</p>
          </div>
        </div>
        <p>Questions? Contact us at (206) 121-456 or email us at trinityapartment@43st.com </p>
      </div>
    </header>
  </body>
</html>