<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../scss/main.css">
  </head>
  <body class="body-19"> 
    <main class="main19">
      <nav class="nav-justify"> 
        <div class="right_div-sidebar"> <img class="nav_twoline" src="../../img/we-craft/Frame 1035.png" alt=""><img class="nav_hundred-line" src="../../img/we-craft/Line 114.png" alt=""></div>
        <div class="in-justify left_"> 
          <p>WELCOME </p>
          <P>01/04</P>
        </div>
        <div class="new-justify1 left_">
          <div>
             OSCAR SUN<br>EXPERIENCE DESIGN STUDIO</div>
        </div>
        <h1 class="title-ab">
           We craft valuable <br>experiences that push brands <br>and businesses forward. </h1>
      </nav>
    </main>
  </body>
</html>