<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../scss/main.css">
  </head>
  <body class="soBody"> 
    <div class="divEZ">
      <p class="E soBig">E</p>
      <p class="Z soBig">Z</p><img class="flyBeard" src="../../img/ZELA/Rectangle 245.png" alt="">
      <p class="L soBig">L</p>
    </div>
    <p class="info-Martin"> </p>Marvin Dokojvic<br>Photography portfolio
    <!-- Div rad-->
    <div class="Radius-click">
      <p>CLICK HERE and HOLD</p>
    </div>
    <div class="bottom-soBig">    <img src="../../img/ZELA/Rectangle 246.png" alt="">
      <p class="sobigA">A</p>
    </div>
  </body>
</html>