doctype html
html(lang="en")
    head
        // Meta Tag's
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        // Title
        title Aire

        // Style
        link(rel="stylesheet", href="../../scss/main.css")

        // Font
        link(rel="stylesheet", href="../../fonts/fonts.css")
    body 
        section 
            div.float-aire
                // AIRE Image
                div.aire-image 

                // Hero
                div.aire-navigation
                    ul 
                        li SHOP 
                        li ABOUT 
                        li INNOVATION 
                        li LOGIN 
                        li CART
                    div.aire-title 
                        h1 ANTI 
                            span DESIGN
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Libero in mauris est condimentum suscipit. Viverra tincidunt amet aliquet massa rhoncus egestas eget id turpis. Augue nunc. 
                    div.aire-bottom.AllIn
                        div 
                            p.aire-bottom_first This website uses cookies. 
                                span Learn more.
                        div
                            p.aire-bottom_second ACCEPT