doctype html
html(lang="uz")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet", href="../../scss/main.css")
  body
    header.header18
      nav.nav18
        .container18
            .left18
                a.works18(href="#works") Works
            .right18
                a.info-contact18(href="#info-contact") Info & Contact
    main.main18
        .container18
        // Asosiy kontentingiz bu yerda bo'ladi
        h1.main-text18 
            | ART OF 
            br
            | SHITHOLE

    footer.footer18
        .container18
        .left18
            a.kb18(href="#kb") K.B>
        .right18
            a.who-we-are18(href="#who") Who we are
