doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        // * Title
        title UMbrella

        // * Style
        link(rel="stylesheet", href="../../scss/main.css")

        // * Forma DJR Deck Font
        link(rel="stylesheet", href="../../fonts/fonts.css")
    body 
        // * ===================== Navbar =====================
        nav.container 
            div.nav 
                a(href="./atten.html") 
                    img(src="../../img/UMbrella/nav/Group 3.png", alt="")
                a(href="#") 
                    button.nav__btn Menu
                        img(src="../../img/UMbrella/nav/jam_menu.png", alt="")
        header.container
            .header 
                div.header__left
                    div.header-left__title
                        h2 Great products don’t try to do 
                            div everything. 
                        h2 We are 
                            span.header-left-title__redI minimalists, 
                            span and we do
                            div a few things, very well.
                    button.header-left__btn Tech Support
                        img(src="../../img/UMbrella/hero/clarity_settings-line.png", alt="")
                div.header__left
                    img.header-left__bg(src="../../img/UMbrella/hero/Rectangle 1.png", alt="")
                    img.header-left__rel(src="../../img/UMbrella/hero/Group 4.svg", alt="")

        a(href="#").footerScrooldown Scrool down 
            img.footerScrooldown__arrow(src="../../img/UMbrella/hero/bi_chevron-down.png", alt="")