doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="../../scss/main.css")
    body.atwork-bg 
        div.web-11__nav 
            p Home
            p Artwork
        div.web-11__img 
            img(src="../../img/Atwork/Rectangle 234.png", alt="")
            img(src="../../img/Atwork/Rectangle 235.png", alt="")
            img(src="../../img/Atwork/Rectangle 236.png", alt="")
            img(src="../../img/Atwork/Rectangle 237.png", alt="")
            img(src="../../img/Atwork/Rectangle 238.png", alt="")
        div.web-11__img-item
            img(src="../../img/Atwork/line/Line 104.png", alt="")
            img(src="../../img/Atwork/line/Line 103.png", alt="")
            p 10%

            
