doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        // * Title
        title CONFIUSED

        // * Style
        link(rel="stylesheet", href="../../scss/main.css")
    body 
        nav.container
            div.navBar 
                div.navBar__logo 
                    img(src="../../img/CONFUSED/Group 1.png", alt="site logo")
                div.navbar__menu 
                    p.navbar-menu__cn CN 
                    p.navbar-menu__en EN
                    img(src="../../img/CONFUSED/gg_menu-left.png", alt="navbar icon")
        section.container.nav 
            div.siteMain 
                h1 One nightowl is coding really hard
                h2 COMING SOON
                div.siteMain__Info
                    input(type="text" placeholder='Get Notified')
                    button Send
            div.siteImg 
                img(src="../../img/CONFUSED/hero/Group 2.png", alt="Site Image")

