doctype html
html(lang="en")
    head
        // * Meta Tag's
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        // * Title
        title Don’t miss it

        // * Style
        link(rel="stylesheet", href="../../scss/main.css")
    body 
        main
            div.missPage
                div.missPage__bg 
                div.missPage__title 
                    h1 Don't miss it
                    p We will email you one delicious recipe everyday for you to try at home. They are simple and delicious: we encourage you to try! 
                    input(type="text" placeholder="Your email here")
                    div.missPage__btn 
                        button Subscribe