doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="../../scss/main.css")
    body.explore-bg
        header
            div.web-11__nav 
                p Home
                p Artwork
            div.web-12__img 
                img(src="../../img/explore/Rectangle 234.png", alt="")
                img(src="../../img/explore/Rectangle 235.png", alt="")
                img(src="../../img/explore/Rectangle 236.png", alt="")
                img(src="../../img/explore/Rectangle 237.png", alt="")
                img(src="../../img/explore/Rectangle 238.png", alt="")
            div.web-12
                p Convoluted colorfulness
                p.web-12-item Lined up behind the space bartender is the meaning of it all, the vessels marked with letters, numbers, signs...
                p.web-12-item-1 explore
            div.web11-item
                img(src="../../img/explore/line/Line 104.png", alt="")
                img(src="../../img/explore/line/Line 103.png", alt="")
                p 10%