doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        // Font
        link(rel="stylesheet", href="../fonts/fonts.css")
        // Style
        link(rel="stylesheet", href="../../scss/main.css")
    body.page-15
        main
            section.section-15
                div.container-15
                    div.section-15__title
                        h1 KATY BIKOVICHE
                        p Product designer, director 
                            span @ theshithole
                    div.info-rad
                        p Currently based in Singapore
                        h4 1° 17' 22 N, 103° 51' 0 E
                    div.bottom-dse D S E