doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="../../scss/main.css")
    body 

        header 
            div.menu 
                p Menu
            div
                h1.kris 
                    | KRISTEN 
                    br 
                    | WELLS
            div.Scroll
                p Scroll
                img(src="../../img/KRISTEN WELLS/superwoman 1.png", alt="")