doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        // Title
        title Modle A
        // Fonts
        link(rel="stylesheet", href="../../fonts/fonts.css")
        // Style
        link(rel="stylesheet", href="../../scss/main.css")
    body.body-module 
        nav.nav-module 
            img(src="../../img/MODEL-A/CAR LOGO.png", alt="")
            div 
                ul 
                    li MODLE A 
                    li MODLE B
                    li MODLE C
                    li MODLE D
                    li MODLE E
            div 
                img(src="../../img/MODEL-A/menu.png", alt="")
        header.header_modle 
            h1 MODLE A 
            div 
                button.module-btn Discover
                button.sec-module-btn Reserve now