doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        // * Title
        title SAM

        // * Style
        link(rel="stylesheet", href="../../scss/main.css")

        // *
        link(rel="stylesheet", href="../../fonts/fonts.css")
    body 
        // ================== Navbar ==================
        nav.samNav
            div.samNav__sb 
                div.samNav-sb__Table 
                    ul
                        li visit
                        li exhibition
                        li collection
                        li programs
                div.samNav-sb__Inp 
                    img(src="../../img/SAM/nav/Group.png", alt="")
                    input(type="text" placeholder="search something...")
        // ================== Header ==================
        div.samNav 
            .samHero
                img.samLogo(src="../../img/SAM/hero/logo.png", alt="")
                h1.samHero__title ART IN ITS BEST FORM...
            div.samNav__second 
                img.top__img(src="../../img/SAM/hero/Mask Group.png", alt="")
                img.bottom__img(src="../../img/SAM/hero/Mask Group2.png", alt="")