doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        // * Title
        title SAM

        // * Style
        link(rel="stylesheet", href="../../scss/main.css")
    body 
        // ================== Navbar ==================
        nav.samNav
            div.samNav__sb 
                div.samNav-sb__Table 
                    ul
                        li visit
                        li exhibition
                        li collection
                        li programs
                div.samNav-sb__Inp 
                    img(src="../../img/SAM/nav/Group.png", alt="")
                    input(type="text" placeholder="search something...")
        // ================== Header ==================
        