doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        // * Title
        title Thanks, John!

        // * Stylesheets
        link(rel="stylesheet", href="../../scss/main.css")
    body 
        header.webZeroFive
            div.webZeroFive__Beach 
            div.webZeroFive__ThanksJohn 
                h3 Trinity 43rd Avenue LLC
                h1 Thanks, John!
                p Here is your receipt for your rent payment for the month of July. Below are the details. 
                div
                    div     
                        p Date
                        p June 30, 2020
                    div 
                        p Total Payment
                        p $1200 USD
                p Questions? Contact us at (206) 121-456 or email us at trinityapartment@43st.com 
