doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="../../scss/main.css")
    body.body-19 
        main.main19
            nav.nav-justify 
                div.right_div-sidebar 
                    img.nav_twoline(src="../../img/we-craft/Frame 1035.png", alt="")
                    img.nav_hundred-line(src="../../img/we-craft/Line 114.png", alt="")
                div.in-justify.left_ 
                    p WELCOME 
                    P 01/04
                div.new-justify1.left_
                    div 
                        | OSCAR SUN
                        br 
                        | EXPERIENCE DESIGN STUDIO
                h1.title-ab  
                    | We craft valuable 
                    br
                    |experiences that push brands 
                    br
                    |and businesses forward. 