doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        //Fonts
        link(rel="stylesheet", href="../../fonts/fonts.css")
        // Style
        link(rel="stylesheet", href="../../scss/main.css")
    body.work-katy 
        // nav
        nav 
            div.katy-head
                div
                    h4.work-title-katy WORKS
                div
                    ul.list-white 
                        li INFO & CONTACT
        // Header
        header 
            div.rad-card-child 
                img.rad-card-first(src="../../img/KATY  2/Ellipse 113.png", alt="")
                img.rad-card-second(src="../../img/KATY  2/Ellipse 114.png", alt="")
                img.rad-card-thirty(src="../../img/KATY  2/Ellipse 115.png", alt="")
            div 
                h1.katy-title-work 
                    | KATY 
                    br 
                    | BIKOVICHE
        // Footer
        footer
            div.footer-katy 
                div 
                    p K.B>
                div 
                    ul 
                        li Whatsapp
                        li Twitter
                        li Instagram
                        li Behance