.container {
  .navbar {
    display: flex;
    width: 100%;
    height: max-content;
    justify-content: space-between;
    .navbar__flex {
      display: flex;
      .navbar__h1 {
        font-weight: bold;
        font-size: 30px;
        .navbar-h1__FU {
          font-weight: 300;
        }
      }
      .navbar__line {
        width: 2px;
        height: 30px;
        background-color: #000000;
        margin-top: 26px;
        margin-left: 30px;
      }
      .navbar__p {
        width: 150px;
        margin-left: 50px;
        margin-top: 24px;
      }
    }
    .navbar__row {
      display: flex;
      gap: 20px;
      img {
        width: 27px;
        height: 27px;
        margin-top: 10px;
      }
    }
  }
}

//======================= Second Navbar =======================
.nav {
  display: flex;
  justify-content: space-between;
  .nav__btn {
    cursor: pointer;
    padding-left: 20px;
    padding-top: 7px;
    width: 120px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid grey;
    background-color: #fff;
    vertical-align: middle;
    // display: flex;
    margin-left: 30px;
    img {
      // margin-top: -10px;
      display: block;
      margin-top: -20px;
    }
  }
}

//======================= Thirty Navbar =======================
.navBar {
  display: flex;
  justify-content: space-between;
  .navBar__logo {
    img {
    }
  }
  .navbar__menu {
    display: flex;
    gap: 40px;
    .navbar-menu__cn {
      color: grey;
    }
    .navbar-menu__en {
      border-bottom: 1px solid black;
    }
    img {
      cursor: pointer;
    }
  }
}
//======================= Sam Navbar =======================
.samNav {
  padding: 50px;
  .samNav__sb {
    display: flex;
    justify-content: space-between;
    .samNav-sb__Table {
      ul {
        display: flex;
        gap: 70px;
        font-family: Proxima Nova;
        list-style-type: none;
      }
    }
    .samNav-sb__Inp {
      img {
        position: absolute;
        margin-left: 15px;
        margin-top: 12px;
      }
      input {
        width: 260px;
        height: 41px;
        border-radius: 20px;
        text-align: center;
        font-size: 17px;
      }
    }
  }
}

.samNav {
  .samHero {
    margin-left: 90px;
    margin-top: -50px;
    .samLogo {
      width: 545px;
    }
    .samHero__title {
      font-family: Proxima Nova, sans-serif;
      font-weight: lighter;
      color: #0f0f0f;
      font-size: 64px;
      margin-left: 130px;
      margin-top: -70px;
    }
  }
}

.samNav__second {
  .top__img{
    float: right;
    // width: 930px;
  }
  .bottom__img{

  }
}